<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HR Web Application</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/datepicker.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
  </head>
  <body>
    <nav>
      <ul class="nav hr-main-nav">
        <li class="banner-container">
          <div role="banner">
            <a class="navbar-brand mr-0 mr-md-2" href="#">
              <img src="images/hr-logo-sm.png" alt="HR R US logo" />
            </a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link hr-nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link hr-nav-link" href="/about-us">About Us</a>
        </li>

        <li class="nav-item">
          <button
            type="button"
            class="btn btn-default dropdown-toggle hr-nav-link"
            data-toggle="dropdown"
            aria-haspopup="true"
          >
            Services <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-expanded="false">
            <li><a class="dropdown-submenu-item" href="#">Payroll</a></li>
            <li>
              <a class="dropdown-submenu-item" href="#">Insurance</a>
            </li>
            <li>
              <a class="dropdown-submenu-item" href="#">Consulting</a>
            </li>
            <li>
              <a class="dropdown-submenu-item" href="/ticket-submission"
                >Submit Ticket</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </body>
</html>
