<%- include("header") -%>

<div
  class="main-page-body"
  role="group"
  aria-label=" If you need a form with accessibility, please submit a ticket by clicking the Create Ticket button."
>
  <h3>
    If you need a form with accessibility, please submit a ticket by clicking
    the Create Ticket button.
  </h3>
  <!-- vertical align -->
  <div class="vertical-container">
    <div class="vertical-row">
      <span>
        <i class="fas fa-angle-right"></i> <i class="fas fa-angle-right"></i>
        <i class="fas fa-angle-right"></i>
      </span>
      <a href="/ticket-submission">
        <button class="btn btn-primary">Create Ticket</button>
      </a>
    </div>
  </div>
</div>

<%- include("footer") -%>
