<%- include("header") -%>

<div class="submission-success-container">
  <h2 role="alert" autofocus>
    Success! You will be redirected to home page momentarily.
  </h2>
  <a href="/">
    <button class="btn btn-secondary redirect-button">Redirect Now</button>
  </a>
</div>

<%- include("footer") -%>
